body {
    font-family: 'Open Sans', sans-serif;
    width:100%;
    margin: 0;
    padding:0;
    color: #bebebe;

}

header{
    background-color: #6e2794;
    color:#fff;
    max-height: 70px;
    float:left;
    width:100%;
    border-bottom: #fff 2px solid;

    }



.container{
    max-width: 890px;
    margin: 0 auto;
    //overflow:auto;

}

.container:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
}

.container2{
    max-width: 800px;
    margin: 0 auto;
    overflow:hidden;
}





header div.logo{
    float:left;

}


header div.logo h1{
    font-size: 18px;
    float:left;
}
header div.menu{
    margin-top: 9px;
    float:right;
}


header div.menu li:hover{
    bottom:0;
    border-bottom: 3px solid #fff ;
    padding-bottom: 20px;
}



ul {
    float:right;
}

li {
    display: inline;
    list-style: none;
    margin-left: 40px;
}

img#logo-icon{
    height: 70px;
    margin-top: 10px;
    float:left;
}

div#logo-text{
    float: left;
}


a {
    text-decoration: none;
    color:inherit;
}

.banner {
    background: url("photo.jpg") no-repeat center;
    background-size: contain;
    height: 330px;
    clear: both;

}
.banner .container {
    height: 100%;
    position: relative;
}

div.motto{
    position: absolute;
    top:40%;
    width: 100%;

}

div.motto h1{
    background-color: #f1f1f1;
    text-align: center;
    padding:0;
    margin: 10px auto;
    width: 50%;
    opacity: 0.9;
    color:#8d8e8e;

}

div.motto h2{
    background-color: #f1f1f1;
    color:#6e2794;
    text-align: center;
    padding:0;
    margin: 0px auto;
    width: 10%;
    opacity: 0.9;
    font-size: 2em;
}

main {
    background-color: #f1f1f1;
    margin: 0;
    clear: both;
}

.left-form{
    float:left;
    width:50%;
    text-align: center;
}

.right-form{
    float:right;
    width:50%;
    text-align: center;
}

footer{
    clear: both;
}

#lupka {
    background-color: #6e2794;
    padding: 5px;
    height: 21px;
    border-radius: 0 5px 5px 0;
    vertical-align: middle;
    margin-left: -32px;
}

input, select {
    border-radius: 5px;
    border: 2px solid #e4e4e4;
    height: 2.5em;
    width: 60%;
    margin-bottom: 10px;
    padding-left: 7px;
    color: #6b6b6b;
}

input#search{
    cursor: hand;
    color: #f1f1f1;
    background-color: #6e2794;
    width: 40%;
    border:none;
}

#lupka-big {
    background-color: #6e2794;
    padding: 5px;
    height: 20px;
    border-radius: 0 5px 5px 0;
    vertical-align: middle;
    z-index: 100;
    position: absolute;
    left: 136px;
    cursor: hand;
}

footer{
    background: #acacac;
    color: #f1f1f1;
    position: relative;
    min-height: 150px;
    bottom:0;

}
footer div{
    width:33.3%;
    display: inline;
    float: left;

}

footer a {
    text-decoration: underline;
}
footer a:hover{
    text-decoration: none;
}

footer .container{
    position: absolute;
    width: 100%;
    left:0;
    right:0;
    bottom:0;
}

.case-study p{
    position: absolute;
    right:0;
    bottom: 0;
}

footer img {
    //border: #6b6b6b 3px solid;
}



/*
*********************
CSS for page result.html
*********************
*/

.breadcrumbs{
    background: #e7e7e7;
    color:#6b6b6b;
    opacity: 0.9;
}

.info{
    position: relative;
}

.info-window{
    position: absolute;
    top:50px;
    right:50px;
    color: #6b6b6b;
    width:60%;
}

.info-header, .info-content{
    background: #f1f1f1;
    opacity: 0.9;
    padding: 10px;
    margin-bottom: 10px;
}
.info-header h1{
    color: #6e2794;
    font-size: 24px;
    margin: 0;
}

.info-header p {
    display: inline;
}

p#date{
    margin: 0;
    float: right;
}

.info-content h2{
    color: #6e2794;
    font-size: 16px;
    margin: 0;
}

.info-content p {
    font-size: 14px;
    margin-left: 10px;
}

.info-content-left{
    float:left;
    width:50%;
}